*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
    background-color: rgb(167, 15, 15);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
}

.navegador{
    margin-left: 20px;
    padding: 10px; 
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
}

.lista {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.lista-link{
    margin: 10px;
    font-size: 20px;
    color: white; 
    text-decoration: none;
}

.formulario{
    background-color: rgb(97, 6, 6);
    width: 768px;
    margin: 30px auto;
    border-radius: 7px;   
    color: white; 
    padding: 10px;
    font-size: 18px;
    gap: 10px;
    text-align: center;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.formulario .form{
    display: flex;
    flex-direction: column;
}
.formulario .form input{
    background-color: rgb(97, 6, 6);
    border: none;
    color: white;
    border-bottom: 1px solid white;
}


.motivo{
    grid-column: 1/2;
    grid-row: 4/5;
}
.boton{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #7e5b5b;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.imagen{
    width: 170px;
    height: 200px;
}
  
.mapa{
    width: 700px;
    height: 450px;
}

.tarjeta{
    margin: 10px;
    width: 50%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    background-color: rgb(96, 81, 151);
    padding: 20px;
  }

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-right: 100px;
}

.producto{
    width: 200px;
    border: 2px solid rgb(82, 74, 74);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.pie{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.creador{
    font-size: 20px;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

