*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
    background-color: rgb(167, 15, 15);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
}

.navegador{
    margin-left: 20px;
    padding: 10px; 
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: end;
}

.lista {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.lista-link{
    margin: 10px;
}

nav ul{
    list-style: none;
}
  
nav ul li a{
    font-size: 20px;
    color: white; 
    text-decoration: none;
}

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-right: 100px;
}

.producto{
    width: 200px;
    border: 2px solid rgb(82, 74, 74);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.imagen{
    width: 170px;
    height: 200px;
}
  
.mapa{
    width: 700px;
    height: 450px;
}

.tarjeta{
    margin: 10px;
    width: 50%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    background-color: rgb(96, 81, 151);
    padding: 20px;
  }

.pie{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.creador{
    font-size: 20px;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

