.titulo-carousel{
    color: black;
}
/*no le puedo encontrar la solucion a la ruptura de las imagenes cuando uso el carousel*/
.carousel-inner img {
    max-height: 400px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

